---

---




    <div id="custom_cursor" class=" transform transition duration-150
     ease-in-out absolute -translate-x-50 -translate-y-50 w-10 h-10 rounded-full bg-black pointer-events-none z-9999 border-white"></div>

	
		<!-- <script>
			document.addEventListener('DOMContentLoaded', function(){
				const cursor = document.querySelector("#custom_cursor")
				const links = document.querySelectorAll('a'); 

				document.addEventListener('mousemove', function(e){
					let x=  e.clientX-20;
					let y= e.clientY-20;

					cursor.style.left =x+'px'
					cursor.style.top = y+'px'

				

				})
				links.forEach(link => {	
			  link.addEventListener('mouseenter', () => {
				cursor.classList.add('scale-125'); 
			  });
			  link.addEventListener('mouseleave', () => {
				cursor.classList.remove('scale-125');
			  });
			});
			})
		</script> -->
		
<div/>