---

---


<nav class=" fixed top-0 left-0 w-screen flex flex-row justify-center items-center p-6 bg-gray-50 z-[100] ">
    <div class=" py-3 px-8">
        <!-- <a href="/" class="font-sansita text-xl ">enzo</a> -->
    </div>

    <div class=" py-3 px-8 flex justify-center items-center gap-12">
        <a href="/workpage/" class="font-poppins">work</a>
        <svg width="1" height="21" viewBox="0 0 1 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="21" stroke="black"/>
            </svg>
            <a href="/" class="font-poppins">about</a>
    </div>

    <!-- <button class="transform transition duration-300 ease-in-out scale-100 hover:scale-110	"> <a href="" class="bg-black text-white rounded-xl  py-3 px-8 font-poppins ">Contact me</a> </button> -->
</nav>